<!-- <div class="container">
  <div class="redBox"></div>
  <div class="blueBox"></div>
  <div class="yellowBow"></div>
</div>

<div class="container2">
  <div class="redBox2"></div>
  <div class="blueBox2"></div>
  <div class="yellowBow2"></div>
</div>

<div class="container3">
  <div class="redBox3"></div>
  <div class="blueBox3"></div>
  <div class="yellowBow3"></div>
</div>

<h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->
<!-- <div class="w-full h-[50px] bg-red-600">

</div> -->
<div class="container">
  <div class="container_square"></div>
  <div class="container_circle"></div>
  <div class="container_circle"></div>
  <div class="container_circle container_circle-blue"></div>
  <div class="container_circle"></div>
  <div class="container_circle"></div>
</div>

<router-outlet />
