// .redBox{
//   height: 50px;
//   width: 100%;
//   background: red;
// }
// .blueBox{
//   height: 50px;
//   width: 100%;
//   background: blue;
// }
// .yellowBow{
//   height: 50px;
//   width: 100%;
//   background: yellow;
// }

// @media (min-width:500px){
//   .container{
//     display: flex;
//     flex-direction: column-reverse;
//     gap: 1rem;
//   }
// }

// @media (min-width:1000px){
//   .container{
//     display: flex;
//     flex-direction: row;
//     gap: 1rem;
//   }
// }

// .redBox2{
//   height: 50px;
//   width: 100%;
//   background: red;
// }
// .blueBox2{
//   height: 50px;
//   width: 100%;
//   background: blue;
// }
// .yellowBow2{
//   height: 50px;
//   width: 100%;
//   background: yellow;
// }

// .container2{
//   margin-top: 1rem;
//   display: grid;
//   grid-template-columns: repeat(1, 1fr);
//   gap: 1rem;
// }

// @media (min-width:1000px){
//   .container2{
//     margin-top: 1rem;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 1rem;
//   }
// }

// .redBox3{
//   height: 50px;
//   width: 400px;
//   background: red;
// }
// .blueBox3{
//   height: 50px;
//   width: 400px;
//   background: blue;
// }
// .yellowBow3{
//   height: 50px;
//   width: 400px;
//   background: yellow;
// }

// .container3{
//   margin-top: 1rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   gap: 1rem;
// }

// .container{
//   display: flex;
//   flex-direction: row;
//   gap: 16px;
// }

// .container_square{
//   height: 100px;
//   width: 100px;
//   background: red;
// }

// .container_circle{
//   height: 100px;
//   width: 100px;
//   border-radius: 50%;
//   background: yellow;
// }

// .container_circle-blue{
//   background: blue;
// }
// .yellowBow3{
//   height: 50px;
//   width: 400px;
//   background: yellow;
// }

// .container3{
//   margin-top: 1rem;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
// }


// .container{
//   display: flex;
//   flex-direction: row;
//   gap: 16px;
// }
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}


// .container_square{
//   height: 100px;
//   width: 100px;
//   background: red;
// }

// .container_circle{
//   height: 100px;
//   width: 100px;
//   border-radius: 50%;
//   background: yellow;
// }

// .container_circle-blue{
//   background: blue;
// }
// .yellowBow3{
//   height: 50px;
//   width: 400px;
//   background: yellow;
// }

// .container3{
//   margin-top: 1rem;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
// }

.redBox{
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  transition: all 1000ms;
}
.redBox:hover{
  transform: scale(1.1);
  color: white;
}
.redBox::before{
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  background: blue;
  left: -100px;
  transition: all 1000ms;
  z-index: -1;
}
.redBox:hover::before{
  left: 0px;
}

// .blueBox{
//   position: absolute;
//   height: 50px;
//   width: 50px;
//   background: blue;
//   left: -50px;
// }

.container{
  position: relative;
  height: 200px;
  width: 200px;
  //border: 2px solid black;
  animation: 5s linear 0s infinite rotate;
}

.bubble1{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:aquamarine;
  left: -25px;
  top: -25px;
}
.bubble2{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:aquamarine;
  right: -25px;
  top: -25px;
.container_card {
  width: 30%;
  height: 450px;
  background:white;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  margin-top: 100px;
  padding: 8px;
}
.bubble3{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:aquamarine;
  left: -25px;
  bottom: -25px;
}
.bubble4{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:aquamarine;
  right: -25px;
  bottom: -25px;

.container_card_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 8px 8px 0 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
.container_card_header_img{
width: 50%;
}

.container_card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  gap: 8px;
  align-items: center;
}

.container_card_body_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.container_card_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.container_card_footer_button{
  width: 100px;
  height: 50px;
  color: white;
  background-color: red;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.container_card_footer_button-blue{
 background-color: blue
}


