<!-- <div class="container">
  <div class="redBox"></div>
  <div class="blueBox"></div>
  <div class="yellowBow"></div>
</div>

<div class="container2">
  <div class="redBox2"></div>
  <div class="blueBox2"></div>
  <div class="yellowBow2"></div>
</div>

<div class="container3">
  <div class="redBox3"></div>
  <div class="blueBox3"></div>
  <div class="yellowBow3"></div>
</div>

<h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->
<!-- <div class="w-full h-[50px] bg-red-600">

</div> -->
<!-- <div class="container">
  <div class="container_square"></div>
  <div class="container_circle"></div>
  <div class="container_circle"></div>
  <div class="container_circle container_circle-blue"></div>
  <div class="container_circle"></div>
  <div class="container_circle"></div>
</div>

<h1 class="mt-4 flex flex-row text-3xl font-bold underline justify-center">
   Ejemplo con Tailwind CSS
</h1>

<div class="mt-4 flex flex-col gap-4 sm:flex-col-reverse lg:flex-row xl:flex-row">
  <div class="h-12 w-full bg-red-500"></div>
  <div class="h-12 w-full bg-blue-700"></div>
  <div class="h-12 w-full bg-yellow-300"></div>
</div>

<div class="mt-4 grid grid-cols-1 gap-4 lg:grid-cols-3">
  <div class="h-12 bg-red-500"></div>
  <div class="h-12 bg-blue-700"></div>
  <div class="h-12 bg-yellow-300"></div>
</div>

<div class="mt-4 flex flex-wrap justify-center items-center gap-4">
  <div class="h-12 w-96 bg-red-500"></div>
  <div class="h-12 w-96 bg-blue-700"></div>
  <div class="h-12 w-96 bg-yellow-300"></div>
</div> -->

<div class="w-screen h-screen flex items-center justify-center">

  <!-- <div class="redBox flex items-center justify-center">
    <p class="text-xl font-bold">Botón</p>
  </div> -->

  <div class="container">
    <div class="bubble1">
    </div>
    <div class="bubble2">
    </div>
    <div class="bubble3">
    </div>
    <div class="bubble4">
    </div>
  </div>

</div>




<router-outlet />
